* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 8vw;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box1, .box2, .box3 {
    float: left;
    width: calc(33.33% - 20px);
    background-color: aqua;
    margin: 10px;
}

#p1_1, #p1_2, #p1_3{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px black solid;
    width: 25%;
    left: 75%;
    text-align: center;
    background-color: aqua;
    font-size: 20px;
}

#p2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

/*Tablet layout (between 768px and 991px)*/
@media (max-width: 991px) and (min-width: 768px) {
	.box1, .box2 {
		width: calc(50% - 20px);
	}
	.box3 {
		width: calc(100% - 20px);
		clear: left;
	}
}

/*Movile layout (equal or less than 767px)*/
@media (max-width: 767px) {
	.box1, .box2, .box3 {
		width: calc(100% - 20px);
	}
}